body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 600;
  font-style: normal;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  height: 425px;

  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  position: relative;
  z-index: 0;

  padding-top: 27px;
  /* padding-bottom: 146px; */
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: relative;
  z-index: 2;

  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  min-width: 179px;
}

.menu-list {
  box-sizing: border-box;
}

.menu__button {
  display: none;
}

.menu__button-label {
  width: 22px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

.menu-list-item {
  display: inline-flex;

  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 34px;
}

.menu-list-item:hover {
  text-decoration: underline;
}

.title {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  z-index: 2;
}

.title-container {
  display: flex;
  margin: auto;
  margin-top: 6%;
  /* margin-top: 194px; */
  max-width: 687px;
}

/* Основной контент страницы */

.page {
  margin: 58px auto 0 auto;
  padding-top: 0px;
  justify-content: space-between;
}

.page-content {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Основные тренды  */

.trend-posts-title {
  display: block;
  margin: 0px;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.trend-post-text {
  margin-top: 5px;
  margin-bottom: 35px;
}

.trend-posts-title::after {
  content: "";
  display: block;
  margin: 8px auto 20px auto;
  height: 3px;
  width: 66px;
  background-color: rgba(181, 159, 91, 0.4);
}

.tredns {
  min-width: 100%;
  margin: 0 auto;
}

.trend-cards {
  display: flex;
  margin: 0 auto 63px auto;
}

.t-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 23%;
  background-color: #eff6f1;
  position: relative;
  z-index: 0;
  padding: 133px 1.5% 15px 1.5%;
}

.t-card::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.t-card:nth-child(n + 2) {
  margin-left: 0.25%;
}

.trend-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: rgba(181, 159, 91, 0.4) solid 3px;
  z-index: 2;
}

.first {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;

  background-size: cover;
  background-color: #eff6f1;

  position: relative;
  z-index: 0;
}

.second {
  background-color: #eff6f1;
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.third {
  background-color: #eff6f1;
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fourth {
  background-color: #eff6f1;
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-category {
  display: flex;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: left;
  color: #b59f5b;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 35px;
}

.trend-caregory-item:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.trend-caregory-item {
  margin-right: 20px;
}

.trend-caregory-item:last-child {
  margin-right: 0px;
}

.trend-post {
  display: flex;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #ffffff;
  margin: 0px 36px 0px 30px;
  text-transform: uppercase;
  align-items: flex-end;
}

.trend-post:hover {
  color: #b59f5b;
}

/* Статьи */

.article {
  display: flex;
  flex-direction: column;
  max-width: 778px;
  margin-right: 9.8%;
}

.post-card {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 57px;
}

.post-card:last-child {
  margin-bottom: 0px;
}

.post-card-title {
  width: 100%;
  margin-left: 30px;
  margin-top: 0px;
}

.post-caregory-item {
  margin-right: 20px;
}

.post-caregory-item:last-child {
  margin-right: 0px;
}

.post-category {
  display: flex;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: left;
  color: #b59f5b;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.post-caregory-item:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.post {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 9px;
}

.post:hover {
  color: #b59f5b;
}

.post-info {
  display: flex;
  margin-bottom: 47px;
}

.post-date {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: left;
  color: #888888;

  margin-right: 15px;
}

.auther {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

.post-text {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.47;
  text-align: left;
  color: #000000;
}

.post-card-preview {
  max-width: 381px;
  width: 100%;
}

.post-card-img {
  width: 100%;
  object-fit: cover;
  background-color: #f4f7f6;
}

/* Боковая панель */

.additional {
  display: flex;
  flex-direction: column;
  max-width: 272px;
}

/* Новые посты */

.new-posts {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.new-posts-title {
  display: block;
  margin-top: 0px;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.new-posts-title::after {
  content: "";
  display: block;
  margin: 12px auto 10px auto;
  height: 3px;
  width: 66px;

  background-color: rgba(181, 159, 91, 0.4);
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 22px;
  margin-top: 0px;
}

.card:last-child {
  margin-bottom: 0px;
}

.post-title {
  margin-left: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px;
}

.card-name {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: left;
  line-height: 1.29;
  text-transform: uppercase;
  color: #000000;
}

.card-name:hover {
  color: #b59f5b;
}

.card-date {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);

  margin-bottom: 0px;
}

.post-img {
  width: 71px;
  background-color: #f4f7f6;
  margin: 0px;
}

/* Формы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.search-group {
  width: 100%;
}

.search-form {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  border: none;
  vertical-align: middle;
  padding-left: 19px;
  background-color: #f4f7f6;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #000000;
  opacity: 0.5;
}

.search-form:focus {
  outline: 1px solid #b59f5b;
  height: 45px;
}

.button-search {
  border: none;
  width: 47px;
  height: 47px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-color: #b59f5b;
  background-size: 18px;
  background-position: center;

  position: absolute;
  right: 0;
}

.button-search:hover {
  background-color: #323232;
}

.mailing {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}

.form-mail {
  display: block;
  margin-bottom: 23px;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.form-mail::after {
  content: "";
  display: block;
  margin: 14px auto 0px auto;
  height: 3px;
  width: 66px;

  background-color: rgba(181, 159, 91, 0.4);
}

.mail-form {
  box-sizing: border-box;
  width: 100%;

  height: 47px;
  border: none;
  vertical-align: middle;

  padding-left: 19px;

  background-color: #f4f7f6;

  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #000000;
  opacity: 0.5;
}

.button-mail {
  box-sizing: border-box;
  width: 100%;

  height: 47px;
  border: none;
  margin-top: 17px;

  background-color: #b59f5b;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  vertical-align: middle;
  text-align: center;
}

.button-mail:hover {
  background-color: #323232;
}

.mail-form:focus {
  outline: 1px solid #b59f5b;
  height: 45px;
}

.tegs-group {
  width: 100%;
}

.teg-title {
  display: block;

  margin-top: 55px;
  margin-bottom: 18px;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.teg-title::after {
  content: "";
  display: block;
  margin: 14px auto 0px auto;
  height: 3px;
  width: 65px;

  background-color: rgba(181, 159, 91, 0.4);
}

.teg-list {
  display: flex;
  flex-wrap: wrap;
}

.teg-list-item {
  display: flex;
  height: 30px;
  align-items: center;

  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;

  margin: 6px 5px 0px 0px;
  padding: 0px 13px 0px 13px;
  border: 3px solid #eeeeee;
}

.teg-list-item:hover {
  border-color: #b59f5b;
}

.topic-title {
  display: block;
  margin-top: 56px;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.topic-title::after {
  content: "";
  display: block;
  margin: 12px auto 0px auto;
  height: 3px;
  width: 65px;

  background-color: rgba(181, 159, 91, 0.4);
}

.topic-list-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #0f0d0e;
  padding: 0px;
  border-bottom: 1px solid #eeeeee;
  line-height: 3.36;
}

.topic-list-item:hover {
  color: #b59f5b;
}

.index {
  font-size: 12px;
  vertical-align: top;
  color: #b59f5b;
  padding-left: 4px;
}

/* Каталог */

.catalog {
  width: 100%;
  margin: 0 auto;
}

.catalog-posts-title {
  display: block;
  margin: 64px auto 30px auto;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.catalog-posts-title::after {
  content: "";
  display: block;
  margin: 12px auto 10px auto;
  height: 3px;
  width: 66px;
  background-color: rgba(181, 159, 91, 0.4);
}

.catalog-cards {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.catalog-card {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  align-items: center;
  margin-bottom: 64px;
}

.catalog-card-preview {
  display: flex;
  justify-content: center;
}

.catalog-card:nth-child(n + 2) {
  margin-left: 5%;
}

.catalog-card-img {
  width: 92%;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -32px;
  object-fit: cover;
  object-position: center center;
}

.catalog-card-content {
  border: rgba(181, 159, 91, 0.4) solid 3px;
  max-width: 346px;
  flex-grow: 1;
}

.catalog-post {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: #040404;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  margin-bottom: 0;
}

.catalod-post-text {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.46;
  text-align: left;
  color: #040404;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 21px;
}

.catalog-link {
  color: #b59f5b;
}

.catalog-link:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.button-footer {
  box-sizing: border-box;
  width: 140px;
  height: 47px;
  border: none;
  background-color: #b59f5b;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  vertical-align: middle;
  text-align: center;
  margin-bottom: 29px;
  margin-right: 23px;
}

.button-footer:hover {
  background-color: #323232;
}

.price {
  margin-left: 23px;
}

.last-price {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: left;
  color: #040404;
  text-decoration: line-through;
}

.last-price:after {
  content: ' \20BD';
}

.actual-price {
  display: flex;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: #040404;
}

.actual-price:after {
  content: ' \20BD';
  margin-left: 5px;
}

/* Соцсети */


.icon {
  display: flex;
  flex-direction: row;
  margin: 0px auto 0 auto;
  width: 100%;

  background-color: #f4f7f6;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.icon .icon-item {
  display: block;
  width: 19px;
  height: 19px;
}

.icon-items:nth-child(even) {
  margin-right: 30px;
  margin-left: 30px;
}

.dribble {
  background-image: url(../svg/001-dribbble.svg);
  background-repeat: no-repeat;
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
  background-repeat: no-repeat;
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
  background-repeat: no-repeat;
  margin-right: 0px;
}

/* Футер */

.footer {
  display: block;
  max-width: 100%;
  margin-top: 73px;
  margin-bottom: 55px;
  text-align: center;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: #999999;
}


/* Popup */

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

  display: none;
  align-items: center;
  justify-content: center;
}

.popup-form {
  display: flex;
  flex-direction: column;
  max-width: 388px;
  padding: 53px 22px;
  background-color: #fff;
  position: relative;
}

.popup-title {
  display: block;
  margin-right: auto;
  margin-left: auto;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.popup-title::after {
  content: "";
  display: block;
  margin: 12px auto 10px auto;
  height: 3px;
  width: 66px;
  background-color: rgba(181, 159, 91, 0.4);
}

.radio-group-text {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-align: left;
  color: #000000;
}

.radio-group {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-align: left;
  color: #000000;
}

.radio {
  display: none;
}

.radio-text {
  margin-right: 15px;
}

.radio-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../svg/form-empty-circle.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  margin-right: 5px;
  margin-top: 9px;
  vertical-align: bottom;
}

.radio:checked+.radio-text::before {
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-size: 15px;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-label {
  margin-bottom: 11px;
  margin-top: 24px;

  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-align: left;
  color: #000000;
}

.select {
  user-select: none;
  background: #f4f7f6;
  border: none;
  padding-left: 21px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 28px;

  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 5.4);

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right 15px center;

  appearance: none;
}

.select:focus {
  outline: 1px solid #b59f5b;
}

.select:hover {
  outline: 1px solid #b59f5b;
}

.textarea {
  background-color: #f4f7f6;
  border: none;
  min-height: 131px;
  resize: none;
  padding-left: 21px;
  padding-top: 21px;
  margin-top: 11px;

  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 5.4);
}

.textarea:hover {
  outline: 1px solid #b59f5b;
}

.textarea:focus {
  outline: 1px solid #b59f5b;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.button-submit {
  box-sizing: border-box;
  width: 140px;
  height: 47px;
  border: none;
  background-color: #b59f5b;

  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  vertical-align: middle;
  text-align: center;
  margin-top: 26px;
}

.button-submit:hover {
  background-color: #323232;
}

/* крестик */

.form-x {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  position: absolute;
  right: 0px;
  top: -26px;
  z-index: 1;

  fill: #ffffff;
}

/* Кнопка для открытия формы */

.popup-action {
  display: block;
  width: 200px;
  border: 2px solid red;
  background-color: rgb(215, 195, 195);
  margin: 0 auto 50px auto;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.popup-hidden:checked+.popup {
  display: flex;
}

.popup-hidden {
  display: none;
  appearance: none;
}


@media (min-width: 840px) and (max-width: 1000px) {

  .title-container {
    margin-top: 10%;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* Сейчас в тренде  */

  .header {
    width: 100%;
  }

  .article {
    margin-right: 5%;
  }

  .additional {
    margin-right: 2%;
  }

  .t-card {
    min-width: 49.9%;
    box-sizing: border-box;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 97px;
    margin-bottom: 0.25%;
  }

  .trend-cards {
    flex-wrap: wrap;
    margin-bottom: 49px;
    justify-content: space-between
  }

  .t-card:nth-child(n + 2) {
    margin-left: 0;
  }

  /* .t-card:nth-child(even) {
    margin-left: 0.25%;
  } */

  .post-card-img {
    min-width: 381px;
  }

  /* Каталог */

  .catalog-cards {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
  }

  .catalog-card {
    margin-bottom: 28px;
    align-items: center;
    max-width: 45%;
  }

  .catalog-card-img {
    height: 226px;
    object-fit: cover;
    object-position: right center;
  }

  .mirror {
    object-position: left center;
  }

  .catalog-card-content {
    width: 100%;
  }

  .catalog-card:nth-child(odd) {
    margin-left: 0px;
  }

  .catalog-card:nth-child(n+3) {
    margin-bottom: 0px;
  }

  .catalog-posts-title {
    margin: 73px auto 41px auto;
    font-size: 18px;
  }

  .catalog-card:nth-child(even) {
    margin-left: 8.8%;
  }

  .catalog-post {
    font-size: 17px;
  }

  .icon {
    margin-top: 40px;
  }
}


@media (min-width: 545px) and (max-width: 839px) {

  /* бургер */

  .menu-list-item {
    display: none;
  }

  .menu__button {
    display: block;
  }

  .menu-list {
    display: none;
  }

  .top-header {
    justify-content: space-between;
    padding: 0px 4.3% 0px 4.3%;
  }

  .title {
    font-size: 40px;
  }

  .title-container {
    margin-top: 10%;
    max-width: 630px;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header {
    height: 355px;
    padding-top: 40px;
  }

  .logo {
    min-width: 158px;
  }

  .page {
    margin-top: 45px;
  }

  /* Сейчас в тренде  */

  .tredns {
    max-width: 100%;
    margin: 0 auto;
  }

  .t-card {
    min-width: 49.9%;
    box-sizing: border-box;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 70px;
    margin-bottom: 0.25%;
  }

  .t-card:nth-child(n + 3) {
    padding-top: 95px;
  }

  .trend-cards {
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 49px;
    justify-content: space-between;
  }


  .trend-posts-title {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .trend-post-text {
    margin-bottom: 25px;
  }

  .trend-post {
    font-size: 17px;
    line-height: 1.3;
    margin-left: 34px;
    margin-right: 34px;
  }

  .trend-caregory-item {
    font-size: 14px;
  }

  .t-card:nth-child(n + 2) {
    margin-left: 0;
  }

  /* .t-card:nth-child(even) {
    margin-left: 0.25%;
  } */

  .trend-category {
    margin-left: 34px;
    margin-top: 38px;
  }

  /* Основной контент */

  .page-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .article {
    width: 100%;
  }

  .post-card {
    margin-bottom: 0px;
    flex-direction: column;
    width: 100%;
  }

  .post-text {
    margin-bottom: 0px;
  }

  .post-card::after {
    content: "";
    display: block;
    margin: 23px auto 40px auto;
    height: 3px;
    width: 100%;
    background-color: #eeeeee;
  }

  .post-category {
    margin-top: 14px;
  }

  .post-card-title {
    margin-left: 0px;
    width: 100%;
  }

  .post {
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 38px;
    margin-top: 17px;
  }

  .post-info {
    margin-bottom: 36px;
  }

  .post-card-img {
    max-width: 450px;
    width: 100%;
    object-fit: contain;
  }

  .additional {
    max-width: 268px;
  }

  /* Каталог */

  .catalog-cards {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
  }

  .catalog-card {
    margin-bottom: 28px;
    align-items: center;
    max-width: 45%;
  }

  .catalog-card-img {
    height: 226px;
    object-fit: cover;
    object-position: right center;
  }

  .mirror {
    object-position: left center;
  }

  .catalog-card-content {
    width: 100%;
  }

  .catalog-card:nth-child(odd) {
    margin-left: 0px;
  }

  .catalog-card:nth-child(n+3) {
    margin-bottom: 0px;
  }

  .catalog-posts-title {
    margin: 0px auto 23px auto;
    font-size: 18px;
  }

  .catalog-card:nth-child(even) {
    margin-left: 8.8%;
  }

  .catalog-post {
    font-size: 17px;
  }

  .icon {
    margin-top: 60px;
  }

  .footer {
    margin-top: 50px;
  }

}

@media (min-width: 501px) and (max-width: 544px) {


  .title-container {
    margin: 20% 15px auto 15px;
  }

  .title {
    font-size: 35px;
  }

  /* бургер */

  .menu-list-item {
    display: none;
  }

  .menu__button {
    display: block;
  }

  .menu-list {
    display: none;
  }

  .top-header {
    justify-content: space-between;
    padding: 0px 4.3% 0px 4.3%;
  }

  /* Сейчас в тренде  */

  .t-card {
    min-width: 49.9%;
    box-sizing: border-box;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 97px;
    margin-bottom: 0.25%;
  }

  .trend-cards {
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 49px;
    justify-content: space-between;
  }

  .trend-posts-title {
    font-size: 18px;
    margin-bottom: 31px;
  }

  .trend-post {
    font-size: 17px;
    line-height: 1.3;
    margin-left: 34px;
    margin-right: 34px;
  }

  .trend-caregory-item {
    font-size: 14px;
  }

  .t-card:nth-child(n + 2) {
    margin-left: 0;
  }

  /* .t-card:nth-child(even) {
    margin-left: 0.25%;
  } */

  .trend-category {
    margin-left: 34px;
    margin-top: 38px;
  }

  /* Основной контент */

  .page-content {
    padding-left: 3%;
    padding-right: 3%;
  }

  .article {
    width: 100%;
  }

  .post-card {
    margin-bottom: 46px;
    flex-direction: column;
    width: 100%;
  }


  .post-card::after {
    content: "";
    display: block;
    margin: 23px auto 0px auto;
    height: 3px;
    width: 100%;
    background-color: #eeeeee;
  }

  .post-category {
    margin-top: 14px;
  }

  .post-card-title {
    margin-left: 0px;
    width: 100%;
  }

  .post {
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 17px;
    margin-top: 17px;
  }

  .post-info {
    margin-bottom: 36px;
  }

  .post-card-img {
    max-width: 391px;
    width: 100%;
    object-fit: contain;
  }

  .additional {
    max-width: 268px;
  }

  /* Каталог */

  .catalog-cards {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
  }

  .catalog-card {
    margin-bottom: 28px;
    align-items: center;
    max-width: 45%;
  }

  .catalog-card-img {
    height: 226px;
    object-fit: cover;
    object-position: right center;
  }

  .mirror {
    object-position: left center;
  }

  .catalog-card-content {
    width: 100%;
  }

  .catalog-card:nth-child(odd) {
    margin-left: 0px;
  }

  .catalog-card:nth-child(n+3) {
    margin-bottom: 0px;
  }

  .catalog-posts-title {
    margin: 35px auto 30px auto;
    font-size: 18px;
  }

  .catalog-card:nth-child(even) {
    margin-left: 8.8%;
  }

  .catalog-post {
    font-size: 17px;
  }

  .icon {
    margin-top: 40px;
  }

  .footer {
    margin-top: 40px;
  }

  .footer-content {
    text-align: center;
    flex-direction: column;
  }

  .price {
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px auto;
    justify-content: center;
    align-items: center;
  }

  .button-footer {
    margin: 0 auto 20px 0;
  }


}

@media (min-width: 361px) and (max-width: 500px) {

  .title-container {
    margin: 25% 15px auto 15px;
  }

  .title {
    font-size: 30px;
  }

  /* бургер */

  .menu-list-item {
    display: none;
  }

  .menu__button {
    display: block;
  }

  .menu-list {
    display: none;
  }

  .top-header {
    justify-content: space-between;
    padding: 0px 4.3% 0px 4.3%;
  }

  /* Сейчас в тренде  */

  .page {
    margin-top: 58px;
  }

  .t-card {
    min-width: 49.9%;
    box-sizing: border-box;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 97px;
    margin-bottom: 0.25%;
  }

  .trend-cards {
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto 49px auto;
    justify-content: space-between
  }

  .trend-category {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-posts-title {
    font-size: 18px;
    margin-bottom: 31px;
  }

  .trend-post {
    font-size: 17px;
    line-height: 1.3;
    margin-left: 34px;
    margin-right: 34px;
  }

  .trend-caregory-item {
    font-size: 14px;
  }

  .t-card:nth-child(n + 2) {
    margin-left: 0;
  }

  /* .t-card:nth-child(even) {
    margin-left: 0.25%;
  } */

  .trend-category {
    margin-left: 34px;
    margin-top: 38px;
  }

  .trend-posts-title {
    margin-bottom: 31px;
  }

  /* Основной контент */

  .page-content {
    padding-left: 3%;
    padding-right: 3%;
    max-width: 100%;
  }

  .content {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .article {
    margin: 0;
  }

  .post-card {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
  }

  .post-card::after {
    content: "";
    display: block;
    margin: 23px auto 30px auto;
    height: 3px;
    width: 100%;
    background-color: #eeeeee;
  }

  .post-category {
    margin-top: 14px;
  }

  .post-card-title {
    margin-left: 0px;
    width: 100%;
  }

  .post {
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 17px;
  }

  .post-info {
    margin-bottom: 20px;
  }

  .post-card-img {
    max-width: 391px;
  }

  .post-card-preview {
    width: 100%;
    margin: 0 auto;
  }

  .additional {
    max-width: 100%;
    margin-right: 9.8%;
  }

  /* Новые посты */

  .new-posts-title {
    font-size: 16px;
  }

  .post-img {
    width: 69px;
  }

  .teg-title {
    margin-top: 55px;
    margin-bottom: 18px;
  }

  .topic-title {
    margin-top: 43px;
  }

  /* Каталог */

  .catalog-cards {
    flex-wrap: wrap;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .catalog-card {
    margin-bottom: 28px;
    align-items: center;
    max-width: 45%;
  }

  .catalog-card-img {
    height: 226px;
    object-fit: cover;
    object-position: right center;
  }

  .mirror {
    object-position: left center;
  }

  .catalog-card-content {
    max-width: 100%;
  }

  .catalog-card:nth-child(odd) {
    margin-left: 0px;
  }

  .catalog-card:nth-child(n+3) {
    margin-bottom: 0px;
  }

  .catalog-posts-title {
    margin: 43px auto 25px auto;
    font-size: 18px;
  }

  .catalog-post {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .catalod-post-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-content {
    text-align: center;
    flex-direction: column;
  }

  .price {
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px auto;
    justify-content: center;
    align-items: center;
  }

  .button-footer {
    margin: 0 auto 20px 0;
  }

  .icon {
    margin-top: 40px;
  }

  .footer {
    margin-top: 40px;
  }

  /* Popup */

  .popup-form {
    margin-left: 5%;
    margin-right: 5%;
  }
}


@media (max-width: 360px) {

  .header {
    padding-top: 31px;
    padding-bottom: 220px;
    height: 390px;
  }

  .top-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* бургер */

  .menu__button {
    display: block;
    order: 2;
    position: absolute;
    top: 0px;
    right: 14px;
  }

  .menu-list {
    display: none;
  }

  .logo {
    min-width: 269px;
    order: 1;
    margin-top: 190px;
    margin-bottom: 42px;
  }

  .title-container {
    margin: 0px 15px 0px 15px;

  }

  .title {
    font-size: 26px;
    line-height: 1.38;
  }

  /* Сейчас в тренде  */

  .page {
    margin-top: 38px;
  }

  .trend-posts-title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .t-card {
    min-width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 88px;
    margin-bottom: 3px;
  }

  .t-card:nth-child(n+2) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .t-card:last-child {
    margin-bottom: 44px;
  }

  .trend-cards {
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .trend-post {
    font-size: 16px;
    line-height: 1.25;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 3px;
  }

  .trend-caregory-item {
    margin-right: 17px
  }

  .trend-category {
    margin-left: 24px;
    margin-top: 35px;
  }

  .trend-post-text {
    margin-bottom: 15px;
  }


  /* Основной контент */

  .page-content {
    padding: 0px;
    width: 100%;
  }

  .article {
    max-width: 100%;
    margin: 0 5% 0 5%;
    justify-content: center;
    align-items: center;
  }

  .content {
    flex-direction: column;
  }

  .post-card {
    flex-direction: column;
  }

  .post-card::after {
    content: "";
    display: block;
    margin: 18px auto 22px auto;
    height: 3px;
    width: 100%;
    background-color: #eeeeee;
  }

  .post-category {
    margin-top: 5px;
  }

  .post {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .post-info {
    margin-bottom: 10px;
  }

  .post-card {
    margin-bottom: 0px;
  }

  .post-card-title {
    margin-left: 0px;
  }

  .additional {
    max-width: 100%;
    margin: 0 4.5% 0 4.5%;
  }

  .post-card-img {
    max-width: 329px;
    width: 100%;
  }

  /* Новые посты */

  .new-posts-title {
    font-size: 16px;
    margin-top: 20px;
  }

  .post-img {
    width: 69px;
  }

  .teg-title {
    margin-top: 55px;
    margin-bottom: 18px;
  }

  .topic-title {
    margin-top: 43px;
  }

  .teg-list-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  /* Каталог */

  .catalog-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .catalog-posts-title {
    margin: 40px auto 28px auto;
    font-size: 16px;
  }

  .catalog-card:nth-child(n+2) {
    margin-left: 3%;
  }

  .catalog-card {
    max-width: 320px;
    width: 100%;
    margin: 0 3% 28px 3%;
    align-items: center;
  }

  .catalog-card:last-child {
    margin-bottom: 0px;
  }

  .catalog-card {
    margin-bottom: 20px;
  }

  .catalog-card-img {
    height: 286px;
    object-fit: cover;
    object-position: right center;
  }

  .mirror {
    object-position: left center;
  }

  /* Соцсети */

  .icon {
    margin: 42px auto 0 auto;
  }

  /* Футер */

  .footer {
    margin-top: 47px;
  }

  /* Popup */

  .popup-form {
    margin: 56px 5% auto 5%;
    padding: 30px 24px;
  }

}